@media (min-width: 960px)
.container {
    max-width: 900px;
}
* {
    padding: 0;
    margin: 0;
}
.theme--dark{
    background: #0f1719;
    color: #fff;
}
.wrap {
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}
.container {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
}
.theme--dark .d-flex {
    display: flex!important;
}
.theme--dark .flex-column {
    flex-direction: column!important;
}
#profile {
    height: calc(100vh - 30px);
}
#profile #profile--pic {
    background-image: url("https://avatars0.githubusercontent.com/u/57600998?s=460&u=e7eb61b873b79102a3f705f5c125835ac16eb9e9&v=4");
  background-size: cover;
    min-height: 250px;
    min-width: 250px;
    border-radius: 250px;
}
.theme--dark {
    font-family: "Roboto",sans-serif;
    line-height: 1.5;
}
.theme--dark p {
    margin-bottom: 16px;
}
.theme--dark .align-center {
    align-items: center!important;
}
.theme--dark .justify-center {
    justify-content: center!important;
}
h1 {
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #03f39c;
}
p {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#profile i {
    font-size: 44px;
    color: #04b370;
}
