* {
    padding: 0;
    margin: 0;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
.theme--dark.v-application {
    background: #121212;
    color: #fff;
}
#component-profile[data-v-11ef6383] {
    height: calc(100vh - 30px);
}
.v-application {
    font-family: "Roboto",sans-serif;
    line-height: 1.5;
}
.v-application p {
    margin-bottom: 16px;
}
.v-application .align-center {
    align-items: center!important;
}
.v-application .justify-center {
    justify-content: center!important;
}

.v-application .flex-column {
    flex-direction: column!important;
}
.v-application .d-flex {
    display: flex!important;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#component-profile i[data-v-11ef6383] {
    font-size: 44px;
    color: slateblue;
}
